body {
    background-color: #e1e1dd;
    padding-top: 10px;
}

h1 {
    text-align: center;
}

.answer-box {
    text-align: center;
    width: 25px;
    height: 25px;
    margin: -1px;
    border: none;
    font-size: 15px;
    background-color: #e1e1dd;
    border-bottom: solid 2px black;
    outline: none;
}

.answer-box::selection {
    background-color: #fff04c;
}

button {
    border-radius: 4px;
    border: none;
    box-shadow: 1.6px 1.9px #b8b8b8ca;
    background: linear-gradient(90deg, #ffc6df, #60b9fc);
    padding: 6px 10px;
    font-size: 12px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    position: relative;
    width: 55px;
    height: 25px;
    overflow: hidden;
    z-index: 1;
}

button > span {
    opacity: 0;
    background: linear-gradient(90deg, #f90949, #147de5);
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: opacity 0.12s;
}

#spantext {
    background-color: transparent;
    position: absolute;
    top: -6;
    left: 9;
    z-index: 3;
    transition: color 0.12s;
}

button:hover span {
    opacity: 1;
}

button:hover #spantext {
    color: white;
}

button:active {
    transform: translate(1.6px, 1.4px);
    box-shadow: none;
}

#check-btn2 {
    margin-top: 30px;
    display: block;
    border-radius: 4px;
    border: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1.6px 1.9px #72727272;
    width: max-content;
    height: 35px;
    padding: 6px 10px;
    font-size: 100%;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    background-image: url('/static/images/woodtexture.jpg');
    background-size: 100%;
}

#check-btn2:active {
    transform: translate(1.6px, 1.4px);
    box-shadow: none;
    border-bottom: solid 1px #383838;
    border-right: solid 1px #727272;
}

.correct {
    color: #00b62e;
}

.wrong {
    color: red;
}

#answer-key {
    position: absolute;
    bottom: 0;
    right: 5;
    transform: rotate(180deg);
}